<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <connectionStrings>
        <add name="AnagramDB"
             connectionString="data source=LT-LIT-SC-0597;initial catalog=AnagramDB;trusted_connection=true;TrustServerCertificate=true;MultipleActiveResultSets=True"/>
    </connectionStrings>
    <appSettings>

    </appSettings>
</configuration>
