@model AnagramSolver.WebApp.Models.UserInfo

@{
    Layout = "_Layout";
}

<div>
    <p> User ip: @Model.UserIp</p>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SearchWordInfo">
        Search: <input type="text" id="txtWord" name="Word"/>
        <input type="submit" value="Search"/>
    </form>

    @if (Model.WordList != null)
    {
        <p> Time elapsed: @Model.SearchTime ms</p>
        <p> Word searched: @Model.WordList.Word</p>
        <p> Anagrams found: </p>
        @if (Model.WordList.Anagrams.Count > 0)
        {
            <ul>
                @foreach (var item in Model.WordList.Anagrams)
                {
                    <li>@item.SecondForm</li>
                }
            </ul>
        }
        else
        {
            <p>No anagrams were found</p>
        }
    }

</div>