<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    @{
        //@Context.Request.Cookies["Count"]
        if (Context.Request.Cookies["Count"] != null)
        {
            @if (int.TryParse(Context.Request.Cookies["Count"], out var count))
            {
                @for (var i = 0; i < count; i++)
                {
                    <span>
                        @Html.ActionLink(Context.Request.Cookies["Value_" + i], "Index",
                            "Home", new { word = Context.Request.Cookies["Value_" + i] },
                            null)
                    </span>
                }
            }
        }
    }
</div>

@RenderBody()

</body>
</html>